html[data-bs-theme=dark] .markdown-body h3,
html[data-bs-theme=dark] .markdown-body h4{
    color: #eee;
}

html[data-bs-theme=dark] .markdown-body p {
    color: #fff;
}

.img-banner{
    position: relative;
    left: -30px;
}